In [1]:
import numpy as np
import pandas as pd

In [2]:
# importing dataset using pandas
dataset = pd.read_csv('car_data.csv')
dataset.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [5]:
# checking for null in owner column
dataset["owner"].isnull().sum()

0

In [6]:
dataset["owner"].value_counts()

First Owner             2832
Second Owner            1106
Third Owner              304
Fourth & Above Owner      81
Test Drive Car            17
Name: owner, dtype: int64

In [7]:
# dividing into dependent and independent variable by usng iloc function of pandas

x = dataset.iloc[:, [1,3,4,6]].values
y = dataset.iloc[:, 2].values

In [8]:
# using label encoder to normalize lable and to encode the categorical variable

from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
x[:,2]=lb.fit_transform(x[:,2])
lb1 = LabelEncoder()
x[:, 3]=lb1.fit_transform(x[:,3])

In [9]:
# Display the number of rows and columns in excel sheet
print(x.shape)

(4340, 4)

In [10]:
# splitting dataset into training set and test set to perform operations

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=0)
print(x_train[0,:])

[2015 175000 1 1]

In [11]:
# creating a model of randomforestregressor and fitting the training data

from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=300,random_state=0)
regressor.fit(x_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=300, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [12]:
accuracy = regressor.score(x_test, y_test)
print(accuracy*100, '%')

75.79783473129758 %

In [13]:
# Encoding label of each column
new_data=[2017,7000,"Petrol","Manual"]
new_data[2]=lb.transform([new_data[2]])[0]
new_data[3]=lb1.transform([new_data[3]])[0]

In [14]:
print(new_data)
regressor.predict([new_data])

[2017, 7000, 4, 1]

array([617422.22222222])

In [17]:
# creating pickle file that saves the model and will be used in the flask app

import pickle
pickle.dump(regressor,open('regressor.pkl', 'wb'))
pickle.dump(lb,open('lb', 'wb'))
pickle.dump(lb1,open('lb1','wb'))